*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
build/
src/main/java/cofh/api/energy/IEnergyConnection.java
src/main/java/cofh/api/energy/IEnergyHandler.java
src/main/java/cofh/api/energy/IEnergyProvider.java
src/main/java/cofh/api/energy/IEnergyReceiver.java
src/main/resources/.cache/cache
.idea/
*.iml
*.ipr
*.iws

out/
eclipse/
*.launch
run/
bin/
libs/
.gradle/
.idea/
*.project
*.classpath
.settings/
*.launch

/src/generated/resources/.cache/
src/generated/resources/.cache/cache
src/generated/resources/.cache/cache
src/generated/resources/.cache/cache
src/generated/resources/assets/immersive_geology/manual/anatase_processing.json
src/generated/resources/assets/immersive_geology/manual/cobaltite_processing.json
src/generated/resources/assets/immersive_geology/manual/en_us/acanthite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/alumina_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/anatase_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/chalcocite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/chromite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/cobaltite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/cuprite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/ferberite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/fluorite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/galena_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/hubnerite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/monazite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/pyrite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/rocksalt_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/saltpeter_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/sphalerite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/ullmannite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/unobtania_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/uraninite_processing.txt
src/generated/resources/assets/immersive_geology/manual/en_us/vanadinite_processing.txt
src/generated/resources/assets/immersive_geology/manual/fluorite_processing.json
src/generated/resources/assets/immersive_geology/manual/galena_processing.json
src/generated/resources/assets/immersive_geology/manual/hubnerite_processing.json
src/generated/resources/assets/immersive_geology/manual/saltpeter_processing.json
src/generated/resources/assets/immersive_geology/manual/sphalerite_processing.json
src/generated/resources/assets/immersive_geology/manual/unobtania_processing.json
src/generated/resources/assets/immersive_geology/manual/uraninite_processing.json
src/generated/resources/assets/immersive_geology/manual/vanadinite_processing.json
src/generated/resources/data/forge/tags/items/dust_blocks.json
src/generated/resources/data/forge/tags/items/ores.json
src/generated/resources/data/forge/tags/items/sheetmetals.json
src/generated/resources/data/forge/tags/items/slabs.json
src/generated/resources/data/forge/tags/items/storages.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum2.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum3.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum4.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum5.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum6.json
src/generated/resources/data/immersive_geology/recipes/wash/wash_platinum7.json
